<h1>Listing categories</h1>

<script type="text/javascript">
    $(function(){
      $("#tree").fancytree();
      $("#ajax-tree").fancytree({
        source: {url: "/getTreeData.json"},
      });
    });
  </script>

<h3>static tree</h3>
<div id="tree">
  <ul>
    <% @categories.each do |category| %>
        <li><%= category.name %></li>
        <li class="folder"><%= category.name %></li>
    <% end %>
  </ul>
</div>

<hr>

<h3>ajax tree</h3>
<div id="ajax-tree">

</div>

<br>

<%= link_to 'Create New Category', new_category_path %>
