<h1>Listing categories</h1>

<script type="text/javascript">
    $(function(){
      $("#tree").fancytree();
    });
  </script>

<div id="tree">
  <ul>
    <% @categories.each do |category| %>
        <li><%= category.name %></li>
        <li class="folder"><%= category.name %></li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to 'New Category', new_category_path %>
